.coursePlanContainer {
  display: flex;
  height: 100vh;
  color: rgb(237, 231, 231);
}

.sidebar {
  width: 250px;
  background-color: rgb(9, 25, 55);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(11, 1, 1, 0.1);
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: rgb(19, 27, 80);
}

.videoContainer {
  margin-bottom: 20px;
}

.summary {
  background-color: #1f1e1e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.flashCards {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}



.quiz {
  margin-top: 20px;
}

.quizQuestion {
  margin-bottom: 20px;
}

.navButtons{
  margin: 10px;
}