.flashCard {
    background-color: #1f1e1e !important;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #dde6e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex ;
    height: 350px;
  }
  
  
  

  