.Homepage {
  text-align: center;
  background-color: black;
}

.Homepage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(141, 146, 177);
}
.inline-form-group {
  display: flex;
  align-items: center;
}

.inline-form-group input {
  margin: 0 5px;
}
.styled-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

label {
  margin: 10px;
}

input {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
